@page "/adminSpecialResponsibility"

<div class="view-box">
	<h2>Rediger særligt ansvar</h2>

	<div class="table-layout">
		<table class="table-form">
			@if (specialResponsibilities == null) {
				<tr>
					<td>Loading...</td>
				</tr>
			} 
			else if(loadFailed)
			{
				<tr>
					<td>Kunne ikke loade data. Prøv venligst igen senere</td>
				</tr>
			}
			else
			{
				@foreach(var item in specialResponsibilities)
				{
					<tr @onclick="() => SelectItem(item)" class="@(selectedItem == item ? "selected-row" : "")">
						<td>@item.TaskName</td>
					</tr>
				}
			}
		</table>
		
		<div class="button-column">
			<input class="sp-table-input" @bind="taskNameInput" placeholder="Indtast særligt ansvar..." />
			<button class="column-button" @onclick="Create" disabled="@(string.IsNullOrWhiteSpace(taskNameInput) || selectedItem != null)">Opret</button>
			<button class="column-button" @onclick="Update" disabled="@(selectedItem == null)">Opdater</button>
			<button class="column-button" @onclick="Delete" disabled="@(selectedItem == null)">Slet</button>
		</div>
	</div>
</div>
