@page "/editResident"

<div class="view-box">
	<h2>Rediger beboer</h2>

	<div class="table-layout">
		<table class="table-form">
			@if(residents == null)
			{
				<tr>
					<td>Loading...</td>
				</tr>
			}
			else if (loadFailed) 
			{
				<tr>
					<td>Kunne ikke loade data. Prøv venligst igen senere</td>
				</tr>
			}
			else
			{
				@foreach(var resident in residents)
				{
					<tr @onclick="() => SelectResident(resident)" class="@(selectedResident == resident ? "selected-row" : "")">
						<td>@resident.ResidentName</td>
						<td>@resident.GroceryDayName</td>
						<td>@resident.ResidentName</td>
					</tr>
				}
			}
		</table>

		<div class="button-column">
			<input class="r-table-input" @bind="residentNameInput" placeholder="Indtæst navn..." />
			<select @bind="selectedGroceryDayID">
				<option value="">Vælg handledag</option>
				@foreach(var day in groceryDays)
				{
					<option value="@day.GroceryDayID">@day.GroceryDayName</option>
				}
			</select>

			<select multiple @onchange="OnPaymentMethodsChanged">
				@foreach (var method in paymentMethods) {
					<option value="@method.PaymentMethodID">
						@method.PaymentMethodName
					</option>
				}
			</select>

			@foreach(var time in medicineTimes)
			{
				<input type="time" @bind="time.Time" />
			}
			<button @onclick="AddMedicineTime">+ Tilføj tid</button>

@* 			<input class="r-table-input" @bind="residentGroceryInput" placeholder="Indtæst handledage..." />
			<input class="r-table-input" @bind="residentMedicineTimeInput" placeholder="Indtæst medicintidspunkter..." /> *@

			<button class="column-button" @onclick="Create" disabled="@(string.IsNullOrWhiteSpace(residentNameInput) || selectedResident is not null)">Opret</button>
			<button class="column-button" @onclick="Update" disabled="@(selectedResident is null)">Opdater</button>
			<button class="column-button" @onclick="Delete" disabled="@(selectedResident is null)">Slet</button>
		</div>
	</div>
</div>
